<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toanvu.duan1_hoanthien">

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ManHinhCho"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginAcivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".add.ThemCauThuNoiBat" />
        <activity android:name=".add.ThemBanQuanLy" />
        <activity android:name=".add.ThemCauThu" />
        <activity android:name=".add.ThemDoiHinhPhu" />
        <activity android:name=".add.ThemDoiHinhChinh" />
        <activity android:name=".details.DetailCauThuNoiBat" />
        <activity android:name=".edit.EditCauThuNoiBat" />
        <activity android:name=".edit.EditBanQuanLy"></activity>

    </application>

</manifest>